# CDK asset staging directory
.cdk.staging
cdk.out

# Dependencies
node_modules

# Compiled JS
*.js
*.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.swp